@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
</style>




body{
    font-family:Lato, sans-serif;}

h1, h2 {font-family: 'Lato', sans-serif;
  
}

p{font-family: 'Lato', sans-serif;}

p.italic{
    font-style: italic
    
}


.top-contact-style {
    font-family: 'Lato', sans-serif;
    line-height: 100px;
    width: 100%;
   
}

a span{
    text-align: center;}




span{letter-spacing: 2pt;}

.top-contact-header {
    font-family:'Lato',sans-serif;
    margin-top: 0%;
    line-height: 2em;
    font-size: large;
    text-align: right;
    width: 100%;
    }

#row-footer{
    top-margin: 20px;
    text-align: right;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline;
    font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.container-image-nav{
    width: 100%;
    background-color: #FFFFFF;
}

.container-image-hero {background-color: #FFFFFF;
    width: 100%;
}

#nav-menu{
    background-color: #FFFFFF;
    width: 100%;
}

#logo-image{
    background: url("../images/Coaching-Psychology-logo-RGB-01.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px;
    height: 100px;
    width: 300px;
          }

#hero-image{
    background-image: url("../images/Homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;  
}

#ali-image{
    background-image: url("../images/Alisonreardon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 200px;  
}

#text-hero{
    text-align: center;
    vertical-align: middle;
    text-size: large;
    padding-top: 100px;
    
}
<!--Services-->

#image-services img{
 height: auto;
 width: 400px;
 align-content: center;
     }

#image-services iframe{
 height: auto;
 width: 400px;
 align-content: center;
}

.services-style {font-family: 'Lato', sans-serif;
       width: 100%;}

#row-services h1{text-align: center;}

#text-services h1,p{text-align: center;
    }

#home-page-services {
    text-align: center;
}

.home-services{
text-align: left;}



#logo-accred {float:right;}

.social-media {margin-top: 20px;}

p.footer-right {padding-top: 20px;
float: right;}

#footer-logos {display: inline;
}

#footer-logos img-rounded{padding-left: 50%;
}

p.home-pitch{
    padding-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 130%;
    vertical-align: middle;}
