@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

h1 {font-family: Roboto;
font-size: 12px;}


.logo {
    background: url("../images/Coaching-Psychology-logo-RGB-01.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
   
}