@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');



body{
    font-family:Roboto, sans-serif;
background-color: #E1FCFD;}

h1, h2 {font-family: Montserrat;
    font: Roboto;
}

p {font-family: Roboto;
font-size: 16px;
}

.top-contact-style {
    font-family: Roboto;
    line-height: 100px;
    width: 100%;
   
}

span{letter-spacing: 2pt;}

.top-contact-header {
    font-family: Roboto;
    margin-top: 0%;
    line-height: 2em;
    font-size: large;
    text-align: right;
    width: 100%;
    color: blue;
}


.social-networks{
    text-align: left;
    }

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 150%;
    font-weight: 800;
    margin: 1%;
    color: blue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  font-weight: bold;
}

.container-image-nav{
    width: 100%;
    background-color: #FFFFFF;
}

.container-image-hero {background-color: #FFFFFF;
    width: 100%;
}

#nav-menu{
    background-color: #FFFFFF;
    width: 100%;
}

#logo-image{
    background: url("../images/Coaching-Psychology-logo-RGB-01.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px;
    height: 100px;
    width: 300px;
          }

#hero-image{
    background-image: url("../images/Homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    width: 200px;  
}

#ali-image{
    background-image: url("../images/Alisonreardon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 200px;  
}

#text-hero{
    text-align: center;
    text-size: small;
    
}


.container {
  width: 100%;
  height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
}


#menu{
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
    Margin-left: 0px
}

.navbar{font-family: Roboto;}

#menu li {
    float: left;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.home-services{margin-top:50px;
text-align: left;}

.home-services h2 {font-size: 16pt;}

.home-services p{font-size: 12pt;}